<link rel="stylesheet" type="text/css" href="style.css" />

<div class ="buttonContainer">
    <h1>Recipe Reciter</h1>
    <a class = "button font" id = "new" href = "/new">New</a>
       
    <form action="/search" method="post">
        <input type="text" class="searchBar" placeholder="search by recipe name" name="title" value=''>
        <input type="submit" value="send">
        </form>
</div>

<div class ="container">

    <% Recipe.forEach((v) =>{ %>
        <div class = "recipe">
            <div class = "font title"> <%=v.title %> </div>
           <div class = "img-container"> <img class = "img" src = <%=v.img %>></div>

            <div class="buttonContainer2">
                <a class = "button font" id = "view" href="/<%=v.id%>">View</a>
                <a class = "button font" id = "edit" href="/<%=v.id%>/edit">Edit</a>
                <form class='removeFormMargin' action="/<%=v.id%>?_method=DELETE" method="POST">
                    <input 
                        class="button cancel font"
                        type="submit"
                        value="Delete"
                    />
                </form>
            </div>  
        </div>
 
   <% }) %>
</div>

<footer><span>by Amber Jankowski</span></footer>