<link rel="stylesheet" type="text/css" href="style.css" />
<h1>Recipe Reciter</h1>
<div class ="buttonContainer">
    <a class = "button font" href = "/new">New</a>
</div>

<div class ="container">

    <% Recipe.forEach((v) =>{ %>
        <div class = "recipe">
            <div class = "font"> <%=v.title %> </div>
            <img src = <%=v.img %>>

            <div>
                <a class = "button font" href="/<%=v.id%>">View</a>
                <a class = "button font" href="/<%=v.id%>/edit">Edit</a>
                <form class='removeFormMargin' action="/<%=v.id%>?_method=DELETE" method="POST">
                    <input 
                        class="button cancel font"
                        type="submit"
                        value="Delete"
                    />
                </form>
            </div>  
        </div>
 
   <% }) %>
</div>