<h1><%=Recipe.title %></h1>
<div><%=Recipe.img %></div>
<div><%=Recipe.url %></div>
<p><%=Recipe.descriction %></p>
<h3><%=Recipe.ingredients %></h3>
<h4><%=Recipe.instructions %></h4>
<H2><%=Recipe.Totaltime %></H2>

